---
import { getPostById } from '../../api/posts';

export const prerender = false;

const postId = Astro.params.postId;
if (!postId) {
	return Astro.redirect('/');
}

const postData = await getPostById(postId);
if (!postData) {
	return Astro.redirect('/');
}

const { post, component } = postData
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{post.title}</title>
</head>
<body set:html={component}></body>
</html>
